name: Build Snap Package

on:
  push:
    branches:
      - main
      - main-dev
      - 'photosensitive-version'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Build Snap
        uses: snapcore/action-build@v1
        id: build
        with:
          path: snap

      - name: Upload Snap Artifact
        uses: actions/upload-artifact@v4
        with:
          name: teatime-accessibility-snap
          path: ${{ steps.build.outputs.snap }}
