name: Build Flatpak Package

on:
  push:
    branches:
      - main
      - 'photosensitive-version'

jobs:
  build:
    name: "Flatpak"
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/flathub-infra/flatpak-github-actions:gnome-48
      options: --privileged
    steps:
      - uses: actions/checkout@v4

      - name: Build Flatpak
        uses: flatpak/flatpak-github-actions/flatpak-builder@v6
        with:
          bundle: teatime-accessibility.flatpak
          manifest-path: org.genidma.TeatimeAccessibility.yml
          cache-key: flatpak-builder-${{ github.sha }}